{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<div>test</div>
	{# <div class="form_row mt-2 intro ">
																						<div class="testzindex out">
																							<video class="video" controls autoplay muted>
																								<source src="video/theshoot.mkv" type="video/mp4">
																							</video>
																						</div> #}


	{{ form(form) }}
		<div class="allmatch">

			<button type="button" class="btn btn-primary">Tous les matchs</button>

		</div>


		<div class="container">
			{% for rencontre in rencontres %}

				<div class="card taille alignement">

					<div class="date center text-danger">
						<strong>{{ rencontre.rencontredate }}</strong>
					</div>


					<div class="container1">
						<div class="img1">
							<img class="card-img-top" src="{{ asset('/img/' ~ rencontre.photohome)|imagine_filter('square1') }}" alt="Card image cap">


						</div>
						<div class="img1 vs">
							<span>
								<strong>VS</strong>
							</span>
						</div>
						<div class="img1">
							<img class="card-img-top" src="{{ asset('/img/' ~ rencontre.photoversus)|imagine_filter('square1') }}" alt="Card image cap">


						</div>
					</div>


					<div class="card-body">
						<h5 class="card-title"></h5>
						<p class="card-text center">
							<strong>{{ rencontre.statutRencontre }}</strong>
						</p>

						<p class="card-text center">{{rencontre.description|striptags|u.truncate(20, '...')}}</p>
						<p class="card-text center">
							<strong>Résolution :
								{{rencontre.resolution}}</strong>
						</p>


						<!-- Button trigger modal -->
						<button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modaleEnvoi_{{ rencontre.id }}">9s video du match

						</button>

						<!-- Modal -->
						<div class="modal fade" id="modaleEnvoi_{{ rencontre.id }}" tabindex="-1" aria-labelledby="modaleEnvoiLabel" aria-hidden="true">


							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title" id="modaleEnvoi">ID Match :
											{{ rencontre.id }}</h5>


										<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
									</div>
									<div
										class="modal-body">
										{# <img class="card-img-top" src="{{ asset('/'~ rencontre.photohome )|imagine_filter('square1') }}" alt="Card image cap"> #}
										<video class="video" controls>
											<source src="{{ asset (rencontre.video) }}" type="video/mp4" id="video_{{ rencontre.id }}">


										</video>

										<p>{{ rencontre.id }}</p>
										<p>{{ rencontre.description }}</p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
									</div>

								</div>
							</div>
						</div>
						<a href="javascript:void(0);" onclick="onClickBtnFavoris(   '{{ rencontre.id }}', '{{ path('favoris',  {'id': rencontre.id}) }}'   ); return false;" class=" btn btn-link js-favoris">


							{% if app.user and rencontre.isFavorisByUser(app.user) %}
								<i id="coeur_{{ rencontre.id }}" class="fas fa-heart"></i>


							{% else %}
								<i id="coeur_{{ rencontre.id }}" class="far fa-heart"></i>


							{% endif %}
						</a>

						<span id="compteur_{{ rencontre.id }}" class="js-favoris">{{ rencontre.rencontreFavoris | length }}</span>
					</div>
				</div>
			{% endfor %}
		</div>

	{% endblock %}
