{% extends 'base.html.twig' %}

{% block title %}
	Gestion de mes Favoris
{% endblock %}

{% block body %}


	<h1>Gestion de mes favoris</h1>


	<table class="table table-dark table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Date</th>
				<th scope="col">Nom</th>
				<th scope="col">Description</th>
				<th scope="col">Fiche</th>
				<th scope="col">Video</th>
				<th scope="col">Action</th>
			</tr>
		</thead>

		<tbody>
			{% for favori in favoris %}

				{% if app.user and favori.isFavorisByUser(app.user) %}
					<tr>
						<td>{{ favori.id }}</td>
						<td>{{ favori.rencontredate }}</td>
						<td>{{ favori.nomfichier }}</td>
						<td>{{ favori.description }}</td>
						<td>
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modale_{{ favori.id }}">Voir fiche</button>


							<!-- Modal -->
							<div class="modal fade" id="modale_{{ favori.id }}" tabindex="-1" aria-labelledby="modaleLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title text-black" id="modale">ID Match :
												{{ favori.id }}</h5>


											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div class="modal-body">
											<div class="date center text-danger">
												<strong>{{ favori.rencontredate }}</strong>
											</div>

											<div class="container1">
												<div class="img1">
													<img class="card-img-top" src="{{ asset('/img/' ~ favori.photoversus)|imagine_filter('square1') }}" alt="Card image cap">


												</div>
												<div class="text-black img1 vs">

													<span>
														<strong>VS</strong>
													</span>
												</div>
												<div class="img1">
													<img class="card-img-top" src="{{ asset('/img/' ~ favori.photohome)|imagine_filter('square1') }}" alt="Card image cap">


												</div>
											</div>

											<div class="card-body">
												<h5 class="card-title"></h5>
												<p class="card-text center textfiche">
													<strong>{{ favori.statutRencontre }}</strong>
												</p>

												<p class="card-text center textfiche">{{favori.description}}</p>
												<p class="card-text center textfiche">
													<strong>Résolution :
														{{favori.resolution}}</strong>
												</p>


											</div>

											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</td>
						<td>
							<!-- Button trigger modal video-->
							<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#modale9sec_{{ favori.id }}">9s video match


							</button>

							<!-- Modal video-->
							<div class="modal fade" id="modale9sec_{{ favori.id }}" tabindex="-1" aria-labelledby="modale9secLabel" aria-hidden="true">


								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title text-black" id="modale9sec">ID Match :
												{{ favori.id }}
											</h5>


											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<div
											class="modal-body">
											{# <img class="card-img-top" src="{{ asset('/'~ favori.photohome )|imagine_filter('square1') }}" alt="Card image cap"> #}

											<video class="video" controls>
												<source src=" {{ asset (favori.video) }}" type="video/mp4">

											</video>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
										</div>

									</div>
								</div>
							</div>

						</td>

						<td>
							<a href="{{ path('favori_delete', {"id": favori.id}) }}" class="btn btn-sm btn-danger">Supprimer</button>
						</td>
					</tr>
				{% endif %}
			{% endfor %}
		</tbody>
		<thead>
			<tr>
				<th>
					<!-- Bouton page form envoi ID match à Admin-->

					<a type="button" class="btn btn-outline-light" href=" {{ path('send') }} ">Envoyer ma sélection
					</a>


				</th>
			</tr>
		</thead>
	</table>

	<h2>Copier-coller mes favoris pour les envoyer à OSBA :</h2>

	<!-- copier coller ID match -->
	<textarea class="form-control textarea" onkeyup="this.value = this.value.replace(/(\r\n|\n|\r)/gm,'');" value="">


		{% for favori in favoris %}

			{{"ID: " ~ favori.id}}


		{% endfor %}

	</textarea>

	<button type="button" value="copier" class="btn btn-outline-danger button">Copier les ID des matchs</button>


{% endblock %}
{# {% block javascripts %}
	<script src="{{ asset("js/copy.js") }}"></script>
{% endblock %} #}
