<footer class="text-center text-lg-start">


	<div class="container-fluid footer">
		<div class="row">
			<div class="col-sm-3">
				<p>

					<a class="text-muted" href="{{ path('home') }}">OSBA</a>
				</p>
				<p>

					<a class="text-muted" href="">A propos</a>
				</p>
				<small class="d-block mb-3 text-muted">&copy; Carlos 2022</small>
			</div>
			<div
				class="col-sm-3">

				{# <ul class="list-unstyled text-small">
																				            <li><a class="text-muted" href="#">Système solaire</a></li>
																				            <li><a class="text-muted" href="#">Le voisinage</a></li>
																				            <li><a class="text-muted" href="#">Les galaxies</a></li>
																				            <li><a class="text-muted" href="#">Exploration spatiale</a></li>
																				            <li><a class="text-muted" href="#">Les distances</a></li>
																				          </ul>
																				        </div> #}

				<div class="col-sm-3">
					<h5>
						Contact
					</h5>
					<ul class="list-group list-group-horizontal-lg text-small list-unstyled">
						<li class="me-3">
							<img src="https://img.icons8.com/fluent/20/000000/twitter.png" href="#">
							<a class="text-muted" href="#">Instagram</a>
						</li>
						<li>
							<img src="https://img.icons8.com/color/20/000000/facebook.png" href="#">
							<a class="text-muted" href="#">Facebook</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{# Icones couleurs #}
		<a href="https://icons8.com/icon/63262/vérifié"></a>
	</footer>
