<nav class="navbar navbar-expand-lg navbar-light bg-danger">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('home') }}">
			<img src="{{ asset('img/osbalogo.png')|imagine_filter('square2') }}" class="navbar-brand-img" alt="...">
		</a>
		<a class="navbar-brand" href="{{ path('home') }}">OSBA Accueil</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">

				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="{{ path('app_apropos') }}">A Propos</a>


				</li>
				{% if is_granted('ROLE_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('admin_home') }}">Accueil Admin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('admin_rencontres_ajout') }}">Ajout match</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('messages') }}">Mes Messages</a>
					</li>


				{% elseif app.user %}

					<li class="nav-item">
						<a class="nav-link" href="{{ path('mesfavoris') }}">Mes Favoris</a>
					</li>
					<li>
						<a class="nav-link" href="{{ path('messages') }}">Mes Messages</a>
					</li>

				{% endif %}
				{% if app.user %}
					<li class="nav-item">
						{% if is_granted('ROLE_ADMIN') %}
							<a class="nav-link">Bonjour ADMIN
								{{ app.user.username }}
							</a>
						{% else %}

							<a class="nav-link">Bonjour
								{{ app.user.username }}
							</a>


						{% endif %}
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
					</li>

				{% else %}
					<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
				{% endif %}

			</li>


		</ul>

	</div>
</div></nav>{% for message in app.flashes('success') %}
<div class="alert alert-success" role="alert">{{ message }}</div>{% endfor %}
