.testzindex {
    /* position: relative; */
    background-color: rgb(221, 51, 221);
    animation-name: fade-in;
    /* overflow: hidden; */
    animation-duration: 13s;
    opacity: 0.0;
    margin-left: 100%;
    
    /* transform: scaleX(1); */
    
}

@keyframes fade-in{

    from {
        opacity: 1.0;
        margin-left: 0%;
        width: 100%
    }
    75%{
        
        margin-left: 50%;
        opacity: 0.5;
    }
    to {
       margin-left: 100%;
       
       width: 0%;
       opacity: 0.0;
    }
    
}
/* .out {
    animation-name: get-out;
    
    animation-delay: 1500ms;
} */


/*Container fiche match*/
.container {
    
    display: flex;
    align-items: start;
}

.container1 {

    display: flex;
    justify-content: center;
    
}

.intro {

   
    
}

.card {
    
    transition: transform 0.6s;
    box-shadow: 0 8px 10px 0 rgba(90,90,90,0.2);
    margin: 5px;
}


.card-img-top {
    width: 100%;

}

.center {

   text-align: center; 
   border-bottom: 1px solid rgb(21, 118, 230);
}

.img1 {

    margin-left: 1rem;
    margin-right: 1rem;

}

.vs {

    margin-top: 20%;
    margin-left: 2%;
}

.textfiche {

    color: black;

}

/*Ecriture d'un message*/

.formmessage {

    margin-left: 5em;
    margin-right: 5em;

}

/*Fin Ecriture d'un message*/

/*Lecture d'un Message */

h1 {

    text-align: center;

}

.boutons {

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.btndossier {

    margin-left: 5px;

}

.btnboite {

    margin-right: 5px;
    margin-bottom: 5px;

}

.unmessage {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    /* border: 1px solid black; */
    text-align: center;

}


.titre {

    border: 1px solid black;

}

.sender {

    border: 1px solid black;

}

.date {

    border: 1px solid black;

}

.contenu {

    border: 1px solid black;

}
/*fin Lecture d'un Message */


.video {

    width: 100%;
   

}

.footer {

    background-color: rgb(211, 208, 233);

}

.allmatch {

    margin-left: 0.9rem;
}


/**/
@media screen and (max-width: 650px) {
    .card-img-top {

    }
}

@media screen and (max-width: 1016px) {
    .container {
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (max-width: 1216px) {
    .card-img-top {
        flex-direction: row;
        
    }
}



