{% extends 'base.html.twig' %}

{% block title %}Gestion des Matchs
{% endblock %}

{% block body %}


	<h1>Gestion des Matchs</h1>


	<table class="table table-dark table-striped table-hover">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Date</th>
				<th scope="col">Nom</th>
				<th scope="col">Description</th>
				<th scope="col">Action</th>
				<th scope="col">Action</th>


			</tr>
		</thead>
		<tbody>
			{% for rencontre in rencontres %}

				<tr>
					<td>{{ rencontre.id }}</td>
					<td>{{ rencontre.rencontredate }}</td>
					<td>{{ rencontre.nomfichier }}</td>
					<td>{{ rencontre.description }}</td>
					<td>
						<a class="btn btn-primary" href="{{ path('admin_modifier_rencontre', {id: rencontre.id }) }}">Modifier</a>
					</td>
					<td>
						<a class="btn btn-danger" href="{{ path('admin_supprimer_rencontre', {id: rencontre.id }) }}">Supprimer</a>
					</td>

				</tr>

			{% endfor %}
		</tbody>

	</table>
{% endblock %}
{% block javascripts %}
	<script src="{{ asset("js/favoris.js") }}"></script>
{% endblock %}
