<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="#">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
	</head>
	<body>
		<h1>Demande de
			{{ message.sender.email }}</h1>

		<p>Sujet :
			{{ message.title }}</p>
		<p>Message :
		</p>
		<div>
			{{ message.message|raw }}
		</div>
	</body>
</html>
