<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="#">

		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<link href="{{ asset('css/test.css') }}" type="text/css" rel="stylesheet">

		{% endblock %}

		{% block javascripts %}
			<script src="https://kit.fontawesome.com/c29f18a561.js" crossorigin="anonymous"></script>
			{{ encore_entry_script_tags('app') }}
			<script src="{{ asset("js/copy.js") }}"></script>
			<script src="{{ asset("js/favoris.js") }}"></script>
		{% endblock %}
	</head>
	<body>
		{% for message in app.flashes("message") %}
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				{{ message }}
				<button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
		{% endfor %}

		{% include 'base/nav.html.twig' %}
		{% block body %}{% endblock %}
		{% include 'base/footer.html.twig' %}

	</body>
</html>
