{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<div>
		<h1>Messagerie</h1>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Reçus</th>
				<th scope="col">Envoyés</th>
				<th scope="col">Dossiers</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{ app.user.received|length }}</td>
				<td>{{ app.user.sent|length }}</td>

				<td>
					<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
						Mes dossiers
					</a>
					<a href="{{ path("send") }}" class="btn btn-primary">Envoyer un message</a>

				</td>
			</tr>
		</tbody>
	</table>

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="list-group">
				<a href="{{ path("messages") }}" class="list-group-item list-group-item-action active">Accueil</a>
			</div>
			<div class="list-group">
				<a href="{{ path("received") }}" class="list-group-item list-group-item-action">Boîte de reception</a>
			</div>
			<div class="list-group">
				<a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Messages envoyés</a>
			</div>

		</div>
	</div>


{% endblock %}
