{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<div>
		<h1>Messagerie</h1>
		<div class="boutons">
			<div class="btndossier">
				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
					Mes dossiers
				</a>
			</div>
			<div class="btnboite">
				<a class="btn btn-primary" href="{{path("received")}}">
					Boîte de réception
				</a>
			</div>
		</div>

		<div class="unmessage">

			<p class="fw-bold titre">
				{{ message.title }}</p>

			<p class="sender">Message de :
				{{ message.sender.email }}</p>

			<p class="date">Le :
				{{ message.createdAt|date('d-m-Y H:i:s')}}</p>


			<div class="contenu">Contenu du message :

				{{ message.message }}
			</div>
		</div>

	</div>
</div>
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
	<div class="offcanvas-header">
		<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
		<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
	</div>
	<div class="offcanvas-body">
		<div class="list-group">
			<a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Accueil</a>
		</div>
		<div class="list-group">
			<a href="{{ path("received") }}" class="list-group-item list-group-item-action active">Boîte de reception</a>
		</div>
		<div class="list-group">
			<a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Messages envoyés</a>
		</div>

	</div>
</div>{% endblock %}
