{% extends 'base.html.twig' %}

{% block title %}Messagerie
{% endblock %}

{% block body %}
	<div>
		<h1>Boîte de réception</h1>
		<p>Vous avez reçu
			{{ app.user.received|length }}
			{% if app.user.received|length > 1 %}
				messages
			{% else %}
				message
			{% endif %}

		</p>
	</div>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">De</th>
				<th scope="col">Sujet</th>
				<th scope="col">Date</th>
				<th scope="col">Action</th>

			</tr>
		</thead>
		<tbody>
			{% for message in app.user.received %}
				{% set bold = "" %}
				{% if message.isRead == 0 %}
					{% set bold = "fw-bold" %}
				{% endif %}

				<tr>
					<td class="{{ bold }}">{{ message.sender.email }}</td>
					<td class="{{ bold }}">
						<a href="{{ path("read", {id: message.id}) }}">
							{{ message.title }}</a>
					</td>

					<td class="{{ bold }}">{{ message.createdAt|date }}</td>
				</tr>

			{% endfor %}

			<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
				Mes dossiers
			</a>

		</tbody>
	</table>

	<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="offcanvasExampleLabel">Mes dossiers</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<div class="list-group">
				<a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Accueil</a>
			</div>
			<div class="list-group">
				<a href="{{ path("received") }}" class="list-group-item list-group-item-action active">Boîte de reception</a>
			</div>
			<div class="list-group">
				<a href="{{ path("messages") }}" class="list-group-item list-group-item-action">Messages envoyés</a>
			</div>

		</div>
	</div>


{% endblock %}
